pytest==5.3.5
pytest-check==0.3.9
pytest-xdist==1.33.0
pytest-html==2.1.1
pytest-mock==3.3.1
tavern==1.2.2
docker==4.2.2
pandas==1.0.5
jmespath==0.10.0
halo==0.0.29                    
py_jama_rest_client==1.13.0
textract==1.6.3
. #installs xFramework_libraries
#json
#subprocess
#path
#polling2
